body {
  margin: 0;
  background: #58cc02;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.app {
  background: white;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

button {
  background: #58cc02;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 15px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  height: 15px;
  background: #eee;
  border-radius: 10px;
  margin-bottom: 20px;
}

.progress-fill {
  height: 100%;
  width: 0%;
  background: #58cc02;
  border-radius: 10px;
}
